<div class="modal-body">
  <div class="row">
    <div class="col-lg-12">
      <p class="lead"><strong>Name: </strong> <%= user_all.name %></p>
      <p class="lead"><strong>Name: </strong> <%= user_all.last_name %></p>
      <p class="lead"><strong>Name: </strong> <%= user_all.address %></p>
      <p class="lead"><strong>Name: </strong> <%= user_all.contact_no %></p>
      <p class="lead"><strong>Name: </strong> <%= user_all.city %></p>
      <p class="lead"><strong>Name: </strong> <%= user_all.state %></p>
    </div>
  </div>
</div> 
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
</div>