<div id="<%= dom_id user_all %>">
  <p>
    <strong>Name:</strong>
    <%= user_all.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user_all.last_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user_all.address %>
  </p>

  <p>
    <strong>Contact no:</strong>
    <%= user_all.contact_no %>
  </p>

  <p>
    <strong>City:</strong>
    <%= user_all.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= user_all.state %>
  </p>

</div>
